# navegacion de carpetas
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~" # `cd` is probably faster to type though




#git 
alias g="git"

# alias python y virtualen
alias pir="pip install -r"


# grunt 
alias gs="grunt server"