[user]
	name = Yarov Rivera
	email = yarovrr@gmail.com
[alias]
[alias]
    ad = add .
    au = add --update
    ss = status --short
    st = status
    c = commit
    br = branch
    co = checkout
    df = diff
[color]
    ui = always
[core]
	excludesfile = /Users/wick/.gitignore
    attributesfile = ~/.gitattributes
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[merge]
    log = true
[push]
  default = simple
